<p id="welcome-text">
    Welcome back to your Tech Blog dashboard, {{name}}
</p>

{{#if posts.length}}
<p id="post-list-text">
    Previous blog posts:
</p>

{{#each posts as |post|}}
<div class="card dashboard-post">
    <div class="card-body">
        <a href="/updatepost/{{post.id}}" class="post-link">
            <h2 class="dashboard-card-title">
              {{post.title}}
            </h2>
        </a>
        <p class="dashboard-card-text">
            Created on {{format_date post.date_created}}
        </p>
        <button type="button" class="btn delete-btn" data-id="{{post.id}}">Delete</button>
    </div>
</div>
{{/each}}
{{/if}}

<a href="/createpost" class="post-link">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-styling">Create new blog post</button>
    </div>
</a>

<script src="/js/delete-post.js"></script>